{% extends "base.html" %}

{% block body %}

    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}

        <table class="table">
            {{ form }}
        </table>

        <input type="hidden" name="next" value="{{ next }}">
        <button class="btn btn-primary" type="submit">
            ログイン
        </button>

    </form>

{% endblock %}