    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}">MicroBlog</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'index' %}">Home</a>
            </li>
            {% if user.is_authenticated %}
            {# ログインしているとき #}
            <li class="nav-item">
              <a href="#">
                {{ user.username }}
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'logout' %}">
                ログアウト
              </a>
            </li>
            {# ログインしていないとき #}
            {% else %}
            <li class="nav-item">
              <a href="{% url 'login' %}?next={{ request.path }}">
                ログイン
              </a>
            </li>
            {% endif %}
<!--            <li class="nav-item">-->
<!--              <a class="nav-link" href="about.html">About</a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--              <a class="nav-link" href="post.html">Sample Post</a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--              <a class="nav-link" href="contact.html">Contact</a>-->
<!--            </li>-->
          </ul>
        </div>
      </div>
    </nav>