{% extends "base.html" %}

{% block body %}
<div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-preview">
              <h2 class="post-title">
                {{ blog.content }}
              </h2>
              <p class="post-meta">{{ blog.posted_date }}</p>
          </div>
            {% if user.is_authenticated %}
            <a href="{% url 'update' object.id %}" class="btn btn-primary">
                編集
            </a>
            <a href="{% url 'delete' object.id %}" class="btn btn-danger">
                削除
            </a>
            {% endif %}
        </div>
    </div>
{% endblock %}